.discountFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 486px;
  border-radius: var(--border-radius-large);
  background: linear-gradient(261.47deg, #2451C6 32.63%, #0D50FF 98.96%);
  margin-top: 106px;
  padding: 32px 32px 0 32px;
}

.discountFormContainer h2 {
  color: var(--color-light);
  margin-bottom: 24px;
  text-align: center;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.discountImage {}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 516px;
  gap: 32px;
  padding-bottom: 32px;
}

.formGroupBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGroup {}

.formGroup input {
  width: 100%;
  height: 58px;
  padding: 0 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  border: 1px solid var(--color-light);
  background: none;
  border-radius: var(--border-radius-small);
  color: var(--color-light);
}

.formGroup input::placeholder {
  color: var(--color-light);
  opacity: 0.5;
}

.tooltip {
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
  color: var(--color-light);
}

.getDiscountButton {
  padding: 0 32px;
  border: none;
  height: 58px;
  font-weight: 600;
  text-align: center;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: var(--transition-duration);
  background-color: var(--color-light);
  color: var(--color-dark);
  white-space: nowrap;
  z-index: 10;
  font-weight: 600;
}

.getDiscountButton:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.getDiscountButton:active {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.addedState {
  background-color: var(--color-light-gray2);
  color: var(--color-blue);
}

@media (max-width: 1280px) {
  .discountFormContainer {
    height: auto;
  }

  .formContainer {
    max-width: 620px;
    flex-direction: column;
    gap: 0;
  }

  .imageContainer {
    order: 1;
  }

  .formContent {
    min-width: 100%;

    justify-content: center;
    order: 0;
  }

  .formGroup input {}
}

@media (max-width: 1023px) {
  .discountFormContainer h2 {
    font-size: 50px;
    line-height: 60.4px;
  }

  .discountFormContainer {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .categoriesBlock {
    margin-top: 60px;
  }

  .formContainer {
    max-width: 100%;
  }
}

@media (max-width: 580px) {
  .discountFormContainer h2 {
    font-size: 45px;
    line-height: 55.4px;
  }
}