.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ModalContent {
  position: relative;
  background: var(--color-blue);
  color: var(--color-light);
  padding: 32px 92px 32px 32px;
  border-radius: var(--border-radius-large);
  max-width: 548px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.ModalContent h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 24px;
}

.ModalContent p:not(:last-child) {
  margin-bottom: 15px;
}

.CloseButton {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 32px;
  right: 32px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: var(--color-light);
  transition: var(--transition-duration);
  opacity: 0.5;
}

.CloseButton:hover {
  color: var(--color-light);
  opacity: 1;
}