.contentStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: #fff;
  position: absolute;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 105.6px;
  text-align: left;
  margin-top: 80px;
  margin-bottom: 40px;
}

.mainBgStyle {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  top: 128px;
  left: 0;
}

/* :root {
  --desktop-above: 1281px;
  --desktop: 1280px;
  --tablet-above: 1024px;
  --tablet: 1023px;
  --mobile-above: 768px;
  --mobile: 767px;
  --mobile-s-above: 481px;
  --mobile-s: 480px;
} */

@media (min-width: var(--desktop-above)) {}

@media (max-width: var(--desktop)) {}

@media (min-width: var(--tablet-above)) {}

@media (max-width: var(--tablet)) {}

@media (min-width: var(--mobile-above)) {}

@media (max-width: var(--mobile)) {}

@media (min-width: var(--mobile-s-above)) {}

@media (max-width: var(--mobile-s)) {}