.categoriesBlock {
  margin-top: var(--blocks-margin-y);
}

.gridCategoriesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
  margin-top: 30px;
  z-index: 10;
}

.gridCategoriesItem {
  overflow: hidden;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
}

.categoryImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: var(--border-radius-large);
}

.categoryName {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}



:root {
  --desktop-above: 1281px;
  --desktop: 1280px;
  --tablet-above: 1024px;
  --tablet: 1023px;
  --mobile-above: 768px;
  --mobile: 767px;
  --mobile-s-above: 481px;
  --mobile-s: 480px;
}

@media (min-width: 1281px) {}

@media (max-width: 1280px) {}

@media (min-width: 1024px) {}

@media (max-width: 1023px) {}

@media (min-width: 768px) {}

@media (max-width: 767px) {}

@media (min-width: 481px) {}

@media (max-width: 480px) {}