.buttonStyle {
  min-width: 218px;
  padding: 16px 0;
  border: none;
  font-weight: 600;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--transition-duration);
  background-color: var(--color-blue);
  color: var(--color-light);
  text-decoration: none;
}

.buttonStyle:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* .buttonStyle:active {
  background-color: var(--color-light);
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
} */