.saleBlock {
  width: 100%;
  margin-top: var(--blocks-margin-y);
}

.titleBlock {
  margin-bottom: 20px;
}

.gridProductContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 32px;
  list-style: none;
  margin-top: 30px;
}

@media (max-width: 1023px) {
  .saleBlock {
    margin-top: 50px;
  }

  .gridProductContainer {
    margin-top: 20px;
  }
}